
<% include partials/header %>

<div class="row">

	<h1 style="text-align: center">	Login </h1>

	<div style="width:30%; margin:25px auto; padding-left: 80px">
		<form action="/login" method="post">
			
			<input type="text" name="username" placeholder="username">
			<input type="password" name="password" placeholder="password">
			<button>Sign-In</button>

		</form>
		<a href="/campgrounds">Go Back</a>
	</div>

</div>

<% include partials/footer %> 